<body>
   <mat-toolbar id="header" color="primary">
   
      <div id="title-block">
         <a id="home-link" >
            <h1><img mattooltip="Logo" class="a" src="..\assets\logo1.png" alt="image not found"></h1>
         </a>
      </div>
      <div class="example-button-row" id="title-block1" >
        

      
         <button mat-button routerLink="/contactus">Contact Us</button>
         <!-- <button mat-button routerLink="/about">About</button> -->

         <button mat-button routerLink="/login" matTooltip="Login"> <mat-icon >login</mat-icon></button>

         <button mat-button routerLink="/signup" matTooltip="Signup"> <mat-icon >account_circle</mat-icon></button>

      
      </div>
   </mat-toolbar>
   <div class="kanban">
      <mat-card class="tp-card" style="background-color: lightgrey">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>What is Kanbanboard?</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\images.jpg" alt="Learn Kanbanboard" style="margin-left: 17%;">
         <mat-card-content>
            <p>
               Kanban is a project management tool that allows you to get a more visual overview of the tasks that
               either need to get done or are complete.
               At its core, it consists of a physical or digital board with three columns (To Do, In Progress, Done) and
               tasks listed as story cards
            </p>
         </mat-card-content>
      </mat-card>
      <mat-card class="tp-card" style="background-color: lightskyblue">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>6 rules of Kanban</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\download.jpg" alt="Learn Kanbanboard" style="margin-left: 13%;">
         <mat-card-content>
            <p>
               Toyota has six rules for the effective application of Kanban:
      
            </p>
            <ul><li>Never pass on defective products</li>
            <li>Take only what is needed</li>
            <li>Produce the exact quantity required</li>
            <li>Level the production</li>
            <li>Fine-tune production</li>
            <li>Stabilise and rationalise the process</li></ul>
         </mat-card-content>
      </mat-card>

      <mat-card class="tp-card" style="background-color: lavender">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>Structure of KanbanBoard</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\structure.png" alt="Learn Kanbanboard" style="margin-left: 13%;">
         <mat-card-content>
            <p>
               The basic structure of the Kanban board online has three columns: to-do, in-progress, and done.
               Each column represents the stage of development from the beginning when ideas are created,
               to the work in progress, and then finally, to when the work has been completed.
            </p>
         </mat-card-content>
      </mat-card>
      <mat-card class="tp-card" style="background-color: antiquewhite">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>Kanban Workflow</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\kanbanworkflow.jpg" alt="Learn Kanbanboard" style="margin-left: 20%;">
         <mat-card-content>
            <p>
               A Kanban workflow defines explicit policies and principles, followed by the Kanban team.
               Its main objective is to represent the rules and procedures of work while the work is flowing across
               different stages of its development and delivery cycle.
            </p>
         </mat-card-content>
      </mat-card>
      <mat-card class="tp-card" style="background-color: pink">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>First step in implementing kanboard</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\kanban.jpg" alt="Learn Kanbanboard" style="margin-left: 18%;">
         <mat-card-content>
            <p>
               Create a project and a board.
               Set and manage activities in the workflow. Choose online Kanban boards with cards to communicate
               statuses, progress, and issues.
               Add tasks, bugs, or user stories to the backlog.
            </p>
         </mat-card-content>
      </mat-card>
      <!-- <mat-card class="tp-card" style="background-color: lightgrey">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>What is Kanbanboard</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\images.jpg" alt="Learn Kanbanboard" style="margin-left: 17%;">
         <mat-card-content>
            <p>
               Kanban is a project management tool that allows you to get a more visual overview of the tasks that
               either need to get done or are complete.
               At its core, it consists of a physical or digital board with three columns (To Do, In Progress, Done) and
               tasks listed as story cards
            </p>
         </mat-card-content>
      </mat-card> -->
      <mat-card class="tp-card" style="background-color: pink">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>Why you should use Kanban?</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\images.jpg" alt="Learn Kanbanboard" style="margin-left: 17%;">
         <mat-card-content>
            <p>
               Even if you are hesitant to learn “yet another tool,” you can see why it might be worth it to start using Kanban boards to manage your work. Kanban boards give teams the visibility to:

              
               
               
            </p>
            <ul><li> Stay aligned and focused</li>
            <li>Collaborate more effectively</li>
            <li>Deliver real value</li></ul>
         </mat-card-content>
      </mat-card>
      <mat-card class="tp-card" style="background-color: antiquewhite">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>Kanban Boards Improve Efficiency</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\images.jpg" alt="Learn Kanbanboard" style="margin-left: 17%;">
         <mat-card-content>
            <p>
               Practicing Kanban can help teams identify waste in their process, which can come in the form of:
              
              
                         
            
            </p>
            <ul><li>Overproduction</li>
            <li>Waiting</li>
            <li>Transportation</li>
            <li>Non-value-added processing</li>
            <li>Inventory</li>
            <li>Under-utilizing people</li></ul>
         </mat-card-content>
      </mat-card>
      <mat-card class="tp-card" style="background-color: lightgrey">
         <mat-card-header>
            <div mat-card-avatar class="tp-header-image"></div>
            <mat-card-title>KanbanBoard</mat-card-title>
            <mat-card-subtitle>Who Uses Kanban Boards?</mat-card-subtitle>
         </mat-card-header>
         <img mat-card-image src="..\assets\images.jpg" alt="Learn Kanbanboard" style="margin-left: 17%;">
         <mat-card-content>
            <p>
               First embraced by IT managers and software development teams, Kanban boards have been widely adopted by all types of teams and organizations.
                <!-- Kanban boards are especially popular among teams who practice Lean and Agile, because they enable the kind of visibility and transparency necessary to achieve business agility. -->
            
                Any team that follows a repeatable process can use Kanban boards to:

               
                
                        
               </p>
               <ul><li> Clarify their process</li>
               <li>Improve their workflow</li>
               <li>Work more efficiently  </li></ul>
         </mat-card-content>
      </mat-card>
   </div>



</body>