<body>
    <mat-toolbar id="header" color="primary">

        <div id="title-block">
            <a id="home-link" href="/">
                <h1><img mattooltip="Logo" class="a" src="..\assets\logo1.png" alt="image not found"></h1>
            </a>

           
        </div>
        <div>

            <button mat-icon-button matTooltip="Signup">
                <a id="routLink" routerLink="/signup">
                    <mat-icon style="margin-top: 10px; font-size: xx-large; padding-right:50px;">account_circle
                    </mat-icon>
                </a>
            </button>

        </div>
    </mat-toolbar>

    <section class="vh-100 gradient-custom sec">
        <form [formGroup]="email" (ngSubmit)="forgotPassword()" class="form-horizontal">

            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-2 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase border-bottom">Forgot Password</h2>
                                    <p class="text-white-50 mb-5">Please enter your Email Id</p>


                                    <div class="form-outline form-white mb-4">
                                        <div class="lig"><label>
                                                <h3>Email Id</h3>
                                            </label></div>
                                        <input type="email" formControlName="emailId"
                                            class="form-control form-control-lg" placeholder="Email">
                                        <div *ngIf="email.get('emailId')?.invalid && (email.dirty || email.touched)">
                                            <div *ngIf="email.get('emailId')?.errors?.['required']">
                                                Valid Email id required.
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" [disabled]="email.invalid"
                                        type="submit">Send</button>

                                </div>

                                <div>
                                    <p class="mb-0">Don't have an account? <a routerLink="/login"
                                            class="text-red-50 fw-bold" id="routerLink1">Login</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>