<section class="background-radial-gradient overflow-hidden">
    <mat-toolbar id="header" color="primary">

        <div id="title-block">
            <a id="home-link" href="/">
                <h1><img mattooltip="Logo" class="a" src="..\assets\logo1.png" alt="image not found"></h1>
            </a>

           
        </div>
        <div>

            <button mat-icon-button matTooltip="Back">
                <a id="routLink" routerLink="/dashboard">
                    <mat-icon style="margin-top: 10px; font-size: xx-large; padding-right:50px;">keyboard_backspace
                    </mat-icon>
                </a>
            </button>

        </div>
    </mat-toolbar>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-3 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Re - Create Password <br />
                    <span style="color: hsl(218, 81%, 75%)">for your security</span>
                </h1>
                <div class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    <h2>Password should include</h2>
                   <ul>
                    <li>At least one upper case</li>
                    <li>At least one lower case English letter</li>
                    <li>At least one digit</li>
                    <li>At least one special character</li>
                    <li>Minimum eight in length</li>
                   </ul>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <h1 class="fw-bold mb-5 text-uppercase border-bottom"
                            style="font-weight: bolder; text-align: center;">Change Password
                        </h1>
                        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                            <div class="row">
                                <div class="form-outline mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="currentPassword"
                                            style="font-weight: bold;">Current Password</label>
                                        <input type="password" id="currentPassword" formControlName="currentPassword"
                                            name="currentPassword" placeholder="re enter password" class="form-control"
                                            required />
                                        <div *ngIf="currentPassword?.invalid && (currentPassword?.dirty||currentPassword?.touched)"
                                            class="alert xy">
                                            <div *ngIf="currentPassword?.errors?.['required']">
                                                *Enter Correct Password
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="newPassword" style="font-weight: bold;">New
                                    Password</label>
                                <input type="password" id="newPassword" formControlName="newPassword" name="newPassword"
                                    placeholder="new password" class="form-control" required />
                                <div *ngIf="newPassword?.invalid && (newPassword?.dirty||newPassword?.touched)"
                                    class="alert xy">
                                    <div *ngIf="newPassword?.errors?.['required']">
                                        *Enter Valid Password
                                    </div>
                                </div>
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="confirmPassword" style="font-weight: bold;">Confirm
                                    Password</label>
                                <input type="password" id="confirmPassword" formControlName="confirmPassword"
                                    name="confirmPassword" placeholder="confirm password" class="form-control"
                                    required />
                                <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty||confirmPassword?.touched)"
                                    class="alert xy">
                                    <div *ngIf="confirmPassword?.errors?.['required']">
                                        *Field can not be null
                                    </div>
                                </div>
                            </div>

                            <div class="message mb-4" *ngIf="errorMessage!==null || errorMessage!==''">{{errorMessage}}</div>


                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Change Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>